.home{
    display: flex;
    max-width: 1240px;
    justify-content: center;
    margin: auto;
}

.home_container{
    margin: 0;
    overflow: hidden;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home_image{
    width: 100%;
    z-index: -1;
    margin-bottom: -300px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
}

.home_carousel_image{
    width: 100%;
    /*position: absolute;*/
    top: 0;
    z-index: -1;
    margin-bottom: -300px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
}

.home__tagline{
    background-color: #fff;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: normal;
    margin: 10px;
}

.home__rowSlideProduct{
    background-color: #fff;
    margin: 5px 15px;
    flex: none !important;
}

.home__rowSlideProduct .product{
    margin: 1px !important;
}


.home__rowSlideProduct .home__rowHeading{
    width: 100%;
    padding: 10px;
}

.home__miniCart{
    position: fixed;
    z-index: 2;
    max-width: 200px;
    right: 1%;
    margin-top: 41px;
}

.home__singleSlideProduct .product{
    width: 100% !important;
}

@media screen and (max-width: 768px){

    .home__row{
        flex-direction: column-reverse !important;
    }

    .home_image{
        margin-bottom: -115px !important;
    }
    .home__singleSlideProduct .product {
        width: auto !important;
    }
    
    .home__tagline{
        width: auto !important;
    }

}