.checkout{
	display: flex;
	padding: 20px;
	height: max-content;
}
.checkout__left{
	background-color: #fff;
	margin-right: 15px;
	border-radius: 3px;
}


.checkout img{
	width: 100%;
	margin-bottom: 10px;
}


.checkout__title{
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
.checkout__left > h3{
	padding: 0 12px;
	font-weight: bold
}